@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: rgb(35, 83, 130);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position:relative;
    width:100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0, 0, 0);

}


.container .left-side{
    position: relative;
    background: rgb(8, 16, 50);
    padding: 40px;
}


.profileTexte{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(155, 188, 220);
}


.profileTexte .imgBox{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow:hidden ;
}

.profileTexte .imgBox img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileTexte h2{
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em; 
}

.profileTexte h2 span{
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.4em;
}

.infoPerso{
    padding-top: 40px;
}

.title{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.infoPerso ul{
    position: relative;

}

.infoPerso ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;

}

.infoPerso ul li .icon{
    display: inline-block;
    width: 25px ;
    font-size: 18px;
    color: rgb(92, 130, 166);
}

.infoPerso ul li span{
    color: #fff;
    font-weight: 300;
}

.infoPerso.education li {
    margin-bottom: 15px;

}
.infoPerso.education h5{
    color: rgb(92, 130, 166);
    font-weight: 500;
}
.infoPerso.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}
.infoPerso.education h4{
    color: #fff;
    font-weight: 300;
}

.infoPerso.language .pourcent{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(92, 130, 166);
    display: inline-block;
    margin-top: 5px;
}

.infoPerso.language .pourcent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #f8f6f6;
}
.container .right-side{
     position: relative;
     background: white;
     padding: 40px;

}

.me{
    margin-bottom: 50px;
}
.me:last-child{
    margin-bottom: 0;
}
.title2{
    color: rgb(8, 16, 50);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: black;
}
.me .bx{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    justify-content: space-between;
    align-items: flex-start;  
}
.me .bx .text {
  width: 50%;       
}


.me .bx .year{
    min-width: 200px;
    width: 45%
}
.me .bx .year h5{
    text-transform: uppercase;
    color: rgb(35, 106, 164);
    font-weight: 600;
    margin: 6px 0;
    line-height: 1.8;

}

.me .bx .text h4 {
  color: black;
  font-weight: 500;
  margin: 3px 0; 
}
.skills .bx{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .bx h4{
    text-transform: uppercase;
    color: rgba(35, 106, 164);
    font-weight: 500;
    margin-bottom: 10px;
}
.skills .bx .pourcent{
    position:relative;
    width: 100%;
    height: 10px;
    background:rgba(8, 16, 50);
}


.skills .bx .pourcent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(35, 106, 164);
}

.interet ul {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.interet ul li{
    list-style:none;
    color: rgb(8, 16, 50);
    font-weight: 500;
    margin: 10px 0;
}

.interet ul li .fa{
    color: rgb(35, 106, 164);
    font-size: 18px;
    width: 20px;
}
